﻿@model MVCAutentimisegaEsimene.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @*siia paneme pildi*@
            <img src="@Url.Action("Picture", new { id = Model.CategoryID })" />
        </dd>

    </dl>
</div>

@*Lisame tabeli toodetega*@
<table>
    <tr>
        <th>Product Name</th>
        <th>Unit Price</th>
        <th />
    </tr>

    @foreach(var p in Model.Products)
    {
        <tr>
            <td>@p.ProductName</td>
            <td>@p.UnitPrice</td>
            <td>@*iga rea peale paneme ka Edit ja Delete nupud (NB! Ret parameeter, et controller teaks, kuhu tagasi tulla*@
                @Html.ActionLink("Edit", "Edit", "Products", new { id = p.ProductID, ret = "Categories" }, null) |
                @Html.ActionLink("Delete", "Delete", "Products", new { id = p.ProductID, ret = "Categories" }, null)
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Create new product", "Create", "Products", routeValues: new { id = Model.CategoryID }, htmlAttributes: null)

@*lisame jalusesse uue lingi - create new product*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Create new product", "Create", "Products", routeValues: new { id = Model.CategoryID }, htmlAttributes: null)
</p>
