﻿@{
    ViewBag.Title = "About";
    ViewBag.Bar = "bar-about";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>Kasutaja kuulub rollidess:</p>
@foreach(string x in ViewBag.Rollid)
{
    <p>@x</p>
}
