﻿@{
    ViewBag.Title = "Contact";
    ViewBag.Bar = "bar-contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h1>Testime</h1>

<h2>@ViewBag.HennuTeade</h2>
<h2>@ViewBag.teineteade</h2>
<h2>@ViewData["teineteade"]</h2>
<h3>@ViewBag.SessionStarted</h3>
<h3>@ViewBag.SessionNr</h3>



<h1>Siit alla on kjora, seda me ei vaata praegu</h1>
<h2>CSS Layout Flexbox</h2>
<p>In this example, we have created a header, two columns/boxes and a footer. On smaller screens, the columns will stack on top of each other.</p>
<p>Resize the browser window to see the responsive effect.</p>
<p><strong>Note:</strong> Flexbox is not supported in Internet Explorer 10 and earlier versions.</p>

<header>
    <h2>Cities</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="#">London</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li>
        </ul>
    </nav>

    <article>
        <h1>London</h1>
        <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
        <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    </article>
</section>

<form>
    <input type="text" id="start" onchange="change('start', 'stop', 'delta')" />
    <input type="text" id="stop" onchange="change('start', 'stop', 'delta')" />
    <input type="text" id="delta" disabled/><br/>
    <input type="text" id="startx" onchange="change('startx', 'stopx', 'deltax')" />
    <input type="text" id="stopx" onchange="change('startx', 'stopx', 'deltax')" />
    <input type="text" id="deltax" readonly/>
</form>

<footer>
    <p>Footer</p>
</footer>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    function change(sta, sto, del) {
        var start = dateparse($("#"+sta).val());
        var stop = dateparse($("#"+sto).val());
        $("#"+del).val(parseInt((stop-start)/(3600*24000)));
    }
    function dateparse(str) {
        var d = Date.parse(str);
        if (d) return d;
        var parts = str.split('.');
        return new Date(parts[2], parts[1], parts[0]);
    }
</script>
