﻿@{
    ViewBag.Title = "Home Page";
    ViewBag.Bar = "bar-home";
}

<div class="jumbotron">
    <h1>HENNU SUPER RAKENDUS</h1>
    <p class="lead">Seda ei oskaks keegi Hennust arvata</p>
    <p>@ViewBag.Ylemus</p>
    <p>@(ViewBag.Person?.FirstName)</p>
    <p>@ViewBag.R.Ylemus</p>
    <p>@ViewBag.R.Ülemus</p>

    <p>@ViewBag.R.Hobune</p>
    <p>@Request.QueryString</p>

    <p><a href="http://www.sarv.ee/henn" class="btn btn-primary btn-lg">Vaata siia &raquo;</a></p>
</div>
@if (Request.IsAuthenticated)
{
<img src="~/Content/henn.gif" height="280" />
}
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <h4>Meie kontaktid leiad siit: @Html.ActionLink("KOntaktid", "Contact") uuri neid <br /></h4>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tere @User.Identity.Name!</h2>
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>