﻿@model IEnumerable<MVCAutentimisegaEsimene.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*@if (ViewBag.Page > 1)
{
    <b>@Html.ActionLink("<", "Index", new { sort = ViewBag.Sort, direction = ViewBag.Direction, page = ViewBag.Page - 1, pagesize = ViewBag.PageSize })</b>
}
else
{
    <b>&lt;</b>
}
 |
@if (ViewBag.Page < ViewBag.Pages)
{
    <b>@Html.ActionLink(">", "Index", new { sort = ViewBag.Sort, direction = ViewBag.Direction, page = ViewBag.Page + 1, pagesize = ViewBag.PageSize })</b>
}
else
{
    <b>&gt;</b>
}*@
<table>
    <tr>
        <td>
            @using (Html.BeginForm("Index", "Products", FormMethod.Post, htmlAttributes: new { id = "eelmine" }))
            {
                <input type="hidden" name="sort" value="@ViewBag.Sort" />
                <input type="hidden" name="direction" value="@ViewBag.Direction" />
                <input type="hidden" name="page" value="@(ViewBag.Page-1)" />
                <input type="hidden" name="pagesize" value="@ViewBag.PageSize" />
                @*<input type="submit" @(ViewBag.Page > 1 ? "value=<" : "value = x disabled") />*@

                if (ViewBag.Page > 1)
                {
                    <b><a class="a-submit">&lt;</a></b>
                }
                else
                {
                    <b>&lt;</b>
                }
            }
        </td>
        <td>|</td>
        <td>
            @using (Html.BeginForm())
            {
                <input type="hidden" name="sort" value="@ViewBag.Sort" />
                <input type="hidden" name="direction" value="@ViewBag.Direction" />
                <input type="hidden" name="page" value="@(ViewBag.Page+1)" />
                <input type="hidden" name="pagesize" value="@ViewBag.PageSize" />
                @*<input type="submit" @(ViewBag.Page < ViewBag.Pages ? "value=>" : "value = x disabled") />*@
                if (ViewBag.Page < ViewBag.Pages)
                {
                    <b><a class="a-submit">&gt;</a></b>
                }
                else
                {
                    <b>&gt;</b>
                }

            }
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            @*Esimene variant: tabelipeas veeru nimi*@
            @*@Html.DisplayNameFor(model => model.ProductName)*@
            @*Teine varian: tabelipeas actionlink - click->GET*@
            @*@Html.ActionLink("ProductName", "Index", new { sort = "ProductName", direction = ViewBag.Sort != "ProductName" ? "ascending" : ViewBag.Direction != "descending" ? "descending" : "ascending" })*@

            @*kolmas variant (lõplik): tabelipeas vorm (ilma helperita) - click->POST*@
            <form action="/Products" method="post">
                <input type="hidden" name="sort" value="ProductName" />
                <input type="hidden" name="direction" value="@(ViewBag.Direction!="descending" && ViewBag.Sort == "ProductName"?"descending":"ascending")" />
                <b><a class="a-submit">@Html.DisplayNameFor(model => model.ProductName)</a></b>
            </form>

            @*kolmas variant (esialgne): tabelipeas vorm (helperiga)*@
            @*@using (Html.BeginForm())
            {
                <input type="hidden" name="sort" value="ProductName" />
                <input type="hidden" name="direction" value="@(ViewBag.Direction!="descending" && ViewBag.Sort == "ProductName"?"descending":"ascending")" />
                <b><a class="a-submit">@Html.DisplayNameFor(model => model.ProductName)</a></b>
            }*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UnitPrice)*@
            @*@Html.ActionLink("UnitPrice", "Index", new { sort = "UnitPrice", direction = ViewBag.Sort != "UnitPrice" ? "ascending" : ViewBag.Direction != "descending" ? "descending" : "ascending" })*@
            @using (Html.BeginForm())
            {
                <input type="hidden" name="sort" value="UnitPrice" />
                <input type="hidden" name="direction" value="@(ViewBag.Direction!="descending" && ViewBag.Sort == "UnitPrice"?"descending":"ascending")" />
                <b><a class="a-submit">@Html.DisplayNameFor(model => model.UnitPrice)</a></b>
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Category.CategoryName)*@
            @*@Html.ActionLink("CategoryName", "Index", new { sort = "CategoryId", direction = ViewBag.Sort != "CategoryId" ? "ascending" : ViewBag.Direction != "descending" ? "descending" : "ascending" })*@
            @using (Html.BeginForm("Index", "Products", FormMethod.Post, htmlAttributes: new { id = "categoryid" }))
            {
                <input type="hidden" name="sort" value="CategoryId" />
                <input type="hidden" name="direction" value="@(ViewBag.Direction!="descending" && ViewBag.Sort == "CategoryId"?"descending":"ascending")" />
                <b><a class="a-submit">@Html.DisplayNameFor(model => model.Category.CategoryName)</a></b>
            }

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @if (item.UnitPrice.HasValue && item.UnitPrice > 0)
                {
                @Html.DisplayFor(modelItem => item.UnitPrice) <d>€</d>
                }
                else
                {
                    <p></p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>
